<?xml version="1.0" encoding="utf-8"?>

<configuration name="Modules.Config">
    <modules>
        
        <module assemblyFile="ProjectRecord.Models.dll">
            <moduleName>ModelModules</moduleName>
        </module>
        
        <module assemblyFile="NavigationModules.dll">
            <moduleName>NavigationModule</moduleName>
        </module>
        
    </modules>
</configuration>